.chart-condition {
  background: #ffffff;

  &__item {
    //height: 2.25rem;
    //line-height: 2.25rem;
    padding: 0rem 1rem;
  }

  &__title {
    color: #666;
    &.hidden {
      visibility: hidden;
    }
  }

  &__content_box {
    padding: 0.5rem 0;
  }

  &__content {
    margin-right: 0.75rem;
    padding: 0.5rem 0;

  }

  .date-input-wrap {
    position: relative;
    height: 2.25rem;
    input {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
    }

    span {
      display: block;
      height: 2.4rem;
      width: 100%;
      text-align: center;
      line-height: 2.4rem;
    }
  }
}

.ct-chart-box {
  background: #ffffff;
  padding: 1rem 0;
}

.chart-search {
  padding: 1rem;

  &-btn {
    width: 6rem;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 0.9rem;
    height: 2.2rem;
    line-height: 2.2rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #ff9a14;
  }
}
