.visible-hidden {
  visibility: hidden;
}

.text-right {
  text-align: right;
}

.user-info_address_li {
  background: #ffffff;
  padding: 0.35rem 0.25rem 0.35rem 0.75rem;
  min-height: 2.25rem;
  a {

  }
}

.user-info-address {
  text-align: right;
  color: #333;
  word-break: break-all;
  line-height: 1.1rem;
  padding-left: 0.2rem;
  padding: 0rem 0;
}
